.hero{
    height: 100vh;
    background: linear-gradient(180deg, #021642,#e1ffea22 60%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: 100px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 30px;
    font-weight: 700;
}

.hero-arm-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-arm-icon img{
    width: 105px;
    
}

.hero-shop-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #021642;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.hero-shop-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: white;  
}

.hero-shop-btn img{
    width: 30px;
    height: 25px;
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img{
    width: 100%;
    height: 100%;
}
